/* CSS style sheet for Lavender Farm project2b */


/*CSS Style Reset*/

body, header, nav, main, footer, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rules for body */

body {
	background-color: #DDA0DD;
	font-family: 'Montagu Slab', serif;
	color: white;
}

img {
	max-width: 100%;
	display: block;
}
/* Style rules for mobile viewport */

/* Style rules for navigation area */

nav {
	text-align: center;
	background-image: url("images/LavandulaFarm.png");
	border: 3px solid white;
	padding: 2%;
	min-height: 200px;
	background-size: 100% 100%;
	width: 100%;
	background-repeat: no-repeat;
}
ul li {
	display: inline;
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size: 2.5em;
	float: right;
	padding: 2%;
	margin-right: 3px;
	margin-bottom: 3%;
	float: left;
}
.logo {
	border-radius: 50px;
}
.box {
	position: relative;
}
.menu {
	width:30%;
	bottom:0;
	position: absolute;
	margin-left: 70%;
}
a:link {
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	color:black;
}

/* style rules for shop */

.grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 1%;
	grid-template-rows: auto;
	width: 100%;
	margin: 1%;
}

.center {
	padding: 10px;
	position: absolute;
	left: 0;

}

.bg {
	background-color: #8d4e85;
	padding: 5%;
	display: box;
	border-radius: 5%;
	border: 2px solid white;
}

.welcome {
	text-align: center;
	margin: 1% 10%;
}